* {
	margin: 0;
	padding: 0;
	border: 0;
     vertical-align: baseline;
	background: transparent;
	font-weight: normal;
	text-decoration: none;
	outline: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box; 
    user-select: none; 
}
html{
    scroll-behavior: smooth;
}
ol, ul {
	list-style: none;
}
del {
	text-decoration: line-through;
}
body {
	font-family: "montserrat", Arial, Helvetica, sans-serif;
	font-size: 17px;
	color: #253858;
	overflow-x: hidden;
	min-width: 320px;
	font-weight: 500;
}
input,textarea,select{
	font-family: "montserrat", Arial, Helvetica, sans-serif;
	font-weight: 500;
}
a:hover,submit:hover{
	-moz-opacity: 0.85;
	-khtml-opacity: 0.85;
	opacity: 0.85;
}
.thumb{
	display: block;
}
.thumb img{
	display: block;
	width:100%;
}
p{
	line-height:1.6em;
	font-size: 16px;
	font-family: "montserrat", Arial;
	font-weight: 500;
	color: #42526E;
}
.hidden{
	display:none;
}
br.clear {
	clear: both;
	line-height: 0;
}
.wrapper {
	width: 90%;
	margin: 0 auto;
	max-width:1200px;
}
body{

}
section#intro {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

section#intro div.intro-left { 
    width: 50%;
    position: relative;
}

section#intro div.intro-left header { 
    width: 50%;
    background-color: #333;
    padding: 3% 3%;
    position: fixed;
    left: 0;
    z-index: 2;
}

section#intro div.intro-left header ul.menu { 
    display: flex;
    justify-content: space-between;
    align-items: center;
}

section#intro div.intro-left header ul.menu li { 

}

section#intro div.intro-left header ul.menu li a { 
    font-size: 16px;
    font-weight: bold;
    color: #979797;
    transition-duration: 0.3s;
}
section#intro div.intro-left header ul.menu li a.active{
    color:#66ac66;
}
section#intro div.intro-left header ul.menu li a:hover{
    color: #66ac66;
    transition: 0.3s ease-in-out;
}
section#intro div.intro-left header ul.menu-icon{
    width: 10%;
    height: 65px;
    padding: 10px 5px;
    justify-content: center;
    align-items: center;
    display: none;
    flex-direction: column;
    background: #444444;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
}
section#intro div.intro-left header ul.menu-icon li{
    height: 5px;
    width: 50%;
    margin-bottom: 5px;
    background-color: #000;
    transition-duration: 0.6s;
}
section#intro div.intro-left header ul.menu-icon li.active:first-child{
    transform: rotate(-45deg);
    background: #66ac66;
    margin-bottom: 0;
    position: absolute;
    transition: 0.6s;
}
section#intro div.intro-left header ul.menu-icon li.active:last-child{
    transform: rotate(45deg);
    background: #66ac66;
    margin-bottom: 0;
    position: absolute;
    transition: 0.6s;
}
section#intro div.intro-left header ul.menu-icon li.active:nth-child(2){
    display: none;
    background: #66ac66;
    transition: 0.6s;
}
section#intro div.intro-left header ul.menu-icon li:last-child{
    margin-bottom: 0;
}

section#intro div.intro-left header ul.menu-bar{
    display: flex;
    flex-direction: column;
    padding: 5%;
    width: 100%;
    position: fixed;
    left: 0;
    right: 0;
    background-color: #333333;
    top: -100%;
    text-align: center;
    transition-duration: 0.6s;
}
section#intro div.intro-left header ul.menu-bar.active{
    top: 0;
    transition: 0.6s;
}
section#intro div.intro-left header ul.menu-bar li{
    margin-bottom: 10px;
}
section#intro div.intro-left header ul.menu-bar li:last-child{
    margin-bottom: 0;
}
section#intro div.intro-left header ul.menu-bar li a { 
    font-size: 20px;
    font-weight: bold;
    color: #979797;
    transition-duration: 0.3s;
}
section#intro div.intro-left header ul.menu-bar li a.active{
    color:#66ac66;
}
section#intro div.intro-left header ul.menu-bar li a:hover{
    color: #66ac66;
    transition: 0.3s ease-in-out;
}
section#intro div.intro-left header div.logo{
    width: 25%;
    position: absolute;
    display: none;
    right: 2%;
    top: 2%;
   
}
section#intro div.intro-left header div.logo img{
    display: block;
    width: 100%;
}

section#intro div.intro-left div.intro-main { 
    padding: 25% 5% 25% 10%;
    background-color: #333333;
}

section#intro div.intro-left div.intro-main div.intro-cont { 
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 10%;
   
}

section#intro div.intro-left div.intro-main div.intro-cont div.intro-cont-left { 
    max-width: 35%;
    overflow: hidden;
    display: block;
}

section#intro div.intro-left div.intro-main div.intro-cont div.intro-cont-left img { 
    display: block;
    width: 100%;
    height: 100%;
}

section#intro div.intro-left div.intro-main div.intro-cont div.intro-cont-right { 
    width: 55%;
}

section#intro div.intro-left div.intro-main div.intro-cont div.intro-cont-right h3 { 
    font-size: 24px;
    font-weight: bolder;
    max-width: 80%;
    margin-bottom: 20px;
    color: #95c795;
}

section#intro div.intro-left div.intro-main div.intro-cont div.intro-cont-right p { 
    font-size: 16px;
    font-weight: normal;
    color: #7c7c7c;
    margin-bottom: 25px;
}

section#intro div.intro-left div.intro-main div.intro-cont div.intro-cont-right span { 
    display: block;
    text-align: right;
    color: #7b7b9f;
    margin-bottom: 10px;
}
section#intro div.intro-left div.intro-main div.intro-cont div.intro-cont-right hr{
    width: 100%;
    height: 8px;
    border-radius: 5px;
    color: #151515;
    box-shadow:  inset 0px 0px 2px 3px rgb(0 0 0 / 30%);
}
section#intro div.intro-left div.intro-main a.button{
    display: inline-block;
    float: right;
    text-align: right;
    padding: 15px 20px;
    border: 1px solid #656565;
    color: #656565;
    transition-duration: 0.5s;
}
section#intro div.intro-left div.intro-main a.button:hover{
    border: 1px solid #66ac66;
    color: #66ac66;
    transition: 0.5s ease-in-out;
}

section#intro div.intro-right { 
    width: 50%;
    background-image: url(../img/vertex-bg-01.jpg);
    background-repeat: no-repeat;
    background-size: 65% 1100px;
    background-position: right 0;
    background-attachment: fixed;
}
section#services { 
    width: 100%;
    display: flex;
}

section#services div.services-left { 
    width: 50%;
    padding: 5%;
    background-color: #333333;
}

section#services div.services-left div.services-left-top { 
    width: 100%;
    padding: 15% 0;
}
section#services div.services-left div.services-left-top h3{
    font-size: 24px;
    color: #66ac66;
    font-weight: bolder;
    margin-bottom: 20px;
}

section#services div.services-left div.services-left-top p.top { 
    font-size: 16px;
    color:#656565 ;
    margin-bottom: 30px;
}

section#services div.services-left div.services-left-top p.bottom { 
    font-size: 16px;
    color:#656565 ;
    margin-bottom: 30px;
}

section#services div.services-left div.services-left-top a.button { 
    display: block;
    float: right;
    text-align: right;
    padding: 15px 20px;
    border: 1px solid #656565;
    color: #656565;
    transition-duration: 0.5s;
}
section#services div.services-left div.services-left-top a.button:hover{
    border: 1px solid #66ac66;
    color: #66ac66;
    transition: 0.5s ease-in-out;
}

section#services div.services-left hr { 
    width: 60%;
    height: 8px;
    border-radius: 5px;
    color: #151515;
    box-shadow:  inset 0px 0px 2px 3px rgb(0 0 0 / 30%);
}

section#services div.services-left div.services-left-bottom { 
    padding-top: 10%;
}

section#services div.services-left div.services-left-bottom ul { 
    display: flex;
    width: 100%;
}

section#services div.services-left div.services-left-bottom ul li { 
    width: 45%;
    text-align: left;
    
}

section#services div.services-left div.services-left-bottom ul li img { 
    display: block;
    margin: 0 auto;
    width: 25%;
    margin-bottom: 20px;
}

section#services div.services-left div.services-left-bottom ul li p { 
    font-size: 16px;
    color:#656565 ;
    max-width: 80%;
}

section#services div.services-right { 
    width: 50%;
    background-image: url(../img/vertex-bg-02.jpg);
    background-repeat: no-repeat;
    background-size: 65% 1100px;
    background-position: right 0;
    background-attachment: fixed;
}
section#gallery { 
    width: 100%;
    height: 100%;
    padding: 10% 0 5% 0;
    background-color: #333333;
}

section#gallery h3 { 
    color: #66ac66;
    font-size: 24px;
    text-align: right;
    margin-bottom: 30px;
}

section#gallery div.gallery { 
    width: 100%;
    margin-bottom: 10%;
}


section#gallery div.gallery ul.slider { 
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
section#gallery div.gallery ul.slider.active1{
    display: flex;
}
section#gallery div.gallery ul.slider.active2,section#gallery div.gallery ul.slider.active3{
    display: none;
}
section#gallery div.gallery ul.slider.active2.slider2{
    display: flex;
}
section#gallery div.gallery ul.slider.active3.slider3{
    display: flex;
}
section#gallery div.gallery ul.slider.active1.slider1{
    display: none;
}

section#gallery div.gallery ul.slider li { 
    width: 22%;
    height: 250px;
    overflow: hidden;
    margin: 0 auto;
    margin-bottom: 30px;
    position: relative;
    text-align: center;
}
section#gallery div.gallery ul.slider li.animate{
    animation: gallery 0.4s ease-in-out;
}
@keyframes gallery {
    0%{
        transform: scale(0);
    }
    100%{
        transform: scale(1);
    }
}
section#gallery div.gallery ul.slider li:nth-last-child(-n+2){
    margin-bottom: 0;
}
section#gallery div.gallery ul.slider li:nth-child(9){
    margin-right: 20px;
}
section#gallery div.gallery ul.slider li:nth-child(10){
    margin-left: 20px;
}
section#gallery div.gallery ul.slider li div.image{
    width: 100%;
    height: 100%;
    transition-duration: 0.8s;
}

section#gallery div.gallery ul.slider li div.image img{ 
    display:block;
    width: 100%;
    height: 250px;
}

section#gallery div.gallery ul.slider li div.image h4 { 
    color: #fff;
    font-size: 24px;
    font-weight: bolder;
    position: absolute;
    left:50%;
    top: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

section#gallery div.gallery ul.slider li div.image div.popup { 
    width: 100%;
    height: 100px;
    background-color: #93c293;
    font-size: 24px;
    font-weight: bolder;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
section#gallery div.gallery ul.slider li div.image:hover{
    transform: translateY(-100px);
    transition: 0.8s ease-in-out;
}
section#gallery div.slider-control{
    width: 50%;
    margin: 0 auto;
    text-align: center;
}
section#gallery div.slider-control button{
    padding: 15px;
    border: 1px solid grey;
    cursor: pointer;
    color: #fff;
    background-color: #000;
}
section#gallery div.slider-control button.active{
    background-color: #444444;
}
#about { 
    width: 100%;
    display: flex;
}

#about .about-left { 
    width: 50%;
    background-color:  #333333;
    padding: 5% 5% 10% 5%;
}

#about .about-left h3 { 
    color: #66ac66;
    font-size: 24px;
    margin-bottom: 30px;
}

#about .about-left .about-one { 
    font-size: 16px;
    color:#656565 ;
    margin-bottom: 40px;
    max-width: 80%;
}
#about .about-left .about-two { 
    font-size: 16px;
    color:#656565 ;
    margin-bottom: 40px;
    max-width: 80%;
}

#about .about-left hr { 
    width: 70%;
    margin: 0 auto;
    height: 8px;
    border-radius: 5px;
    color: #151515;
    box-shadow:  inset 0px 0px 2px 3px rgb(0 0 0 / 30%);
    margin-bottom: 30px;

}

#about .about-left .about-three { 
    font-size: 16px;
    color:#656565 ;
    margin-bottom: 40px;
    max-width: 80%;
}

#about .about-left .button { 
    display: block;
    float: right;
    text-align: right;
    padding: 15px 20px;
    border: 1px solid #656565;
    color: #656565;
    transition-duration: 0.5s;
    position: relative;
}
#about .about-left .button:hover{
    border: 1px solid #66ac66;
    color: #66ac66;
    transition: 0.5s ease-in-out;
}

#about .about-right { 
    width: 50%;
    background-image: url(../img/vertex-bg-03.jpg);
    background-repeat: no-repeat;
    background-size: 65% 1100px;
    background-position: right 0;
    background-attachment: fixed;
}
section#contact { 
    width: 100%;
    display: flex;
}

section#contact div.contact-left { 
    padding: 10% 5%;
    padding-bottom: 0;
    width: 50%;
    background-color:#333333 ;
}

section#contact div.contact-left h3 { 
    color: #66ac66;
    font-size: 24px;
    margin-bottom: 30px;
}

section#contact div.contact-left p.contact { 
    font-size: 16px;
    color:#656565 ;
    margin-bottom: 40px;
    max-width: 80%;
}

section#contact div.contact-left form.input-section { 
    display: flex;
    flex-direction: column;
    width: 90%;
    padding-bottom: 10%;
    margin: 0 auto;
    align-items: flex-end;
}

section#contact div.contact-left form.input-section input[type="text"] { 
    width: 100%;
    margin: 0 auto;
    border-bottom: 1px solid #656565 ;
    margin-bottom: 30px;
    padding: 10px 5px;
    color: #fff;
}
section#contact div.contact-left form.input-section input[type="text"]:focus{
    outline: 1px solid lightblue;
}
section#contact div.contact-left form.input-section input[type="email"] { 
    width: 100%;
    margin: 0 auto;
    border-bottom: 1px solid #656565 ;
    margin-bottom: 30px;
    padding: 10px 5px;
    color: #fff;
}
section#contact div.contact-left form.input-section input[type="email"]:focus{
    outline: 1px solid lightblue;
}
section#contact div.contact-left form.input-section input::placeholder{
    font-size: 16px;
}
section#contact div.contact-left form.input-section input[type="submit"]{
    width: 20%;
    padding: 15px 20px;
    border: 1px solid #656565;
    color: #656565;
    transition-duration: 0.5s;
    cursor: pointer;
   
}
section#contact div.contact-left form.input-section input[type="submit"]:hover{
    border: 1px solid #66ac66;
    color: #66ac66;
    transition: 0.5s ease-in-out;
}

section#contact div.contact-left form.input-section textarea#message { 
    font-size: 16px;
    margin: 0 auto;
    width: 100%;
    padding: 10px 5px;
    border-bottom: 1px solid #656565 ;
    margin-bottom: 30px;
    color: #fff;
}
section#contact div.contact-left form.input-section textarea#message:focus{
    outline: 1px solid lightblue;
}

section#contact div.contact-left p.footer { 
    font-size: 12px;
    color:#656565 ;
    margin-bottom: 40px;
}

section#contact div.contact-right { 
    width: 50%;
    background-image: url(../img/vertex-bg-04.jpg);
    background-repeat: no-repeat;
    background-size: 65% 1100px;
    background-position: right 0;
    background-attachment: fixed;
    position: relative;
}

section#contact div.contact-right div.map { 
    position: absolute;
    width: 40%;
    top: 20%;
    left: 0;
}
section#contact div.contact-right div.map iframe{
    width: 500px;
    height: 400px;
}
@media all and (max-width:1280px){
    section#intro div.intro-left div.intro-main div.intro-cont div.intro-cont-right h3{
        max-width: 100%;
    }
    section#intro div.intro-left header{
        width: 49%;
    }
    section#services div.services-left div.services-left-bottom ul{
        justify-content: space-between;
    }
    #about .about-left .about-one{
        max-width: 100%;
    }
    #about .about-left .about-two{
        max-width: 100%;
    }
    #about .about-left .about-three{
        max-width: 100%;
    }
    section#contact div.contact-left p.contact{
        max-width: 90%;
    }
    section#contact div.contact-left form.input-section input[type="submit"]{
        width: 30%;
    }
}
@media all and (max-width:1080px){
    section#services div.services-left div.services-left-bottom ul li p{
        max-width: 100%;
    }
}
@media all and (max-width:980px){
    section#intro{
        flex-wrap: wrap;
        flex-direction: column-reverse;
    }
    section#intro div.intro-left header{
        width: 100%;
        top: 0;
        padding: 10% ;
        display: flex;
    }
    section#intro div.intro-left header div.icon{
        display: block;
    }
    section#intro div.intro-left header div.logo{
        width: 20%;
        display: block;
    }
    section#intro div.intro-left header ul.menu{
        display: none;
    }
    section#intro div.intro-left header ul.menu-icon{
        display: flex;
    }
    section#intro div.intro-left{
        width: 100%;
    }
    section#intro div.intro-left div.intro-main{
        width: 100%;
    }
    section#intro div.intro-right{
        width: 100%;
        height: 70vh;
        background-position:center;
        background-size: 100% 900px;
    }
    section#services{
        flex-wrap: wrap;
        flex-direction: column-reverse;
    }
    section#services div.services-left{
        width: 100%;
    }
    section#services div.services-right{
        width: 100%;
        height: 100vh;
        background-position: center;
        background-size: 100% 1500px;
    }
    section#gallery div.gallery ul.slider li div.image div.popup{
        padding: 5px;
        font-size: 15px;
    }
    #about{
        flex-wrap: wrap;
        flex-direction: column-reverse;
    }
    #about .about-left{
        width: 100%;
    }
    #about .about-right{
        width: 100%;
        height: 90vh;
        background-position: center;
        background-size: 100% 1000px;
    }
    section#contact{
        flex-wrap: wrap;
        flex-direction: column-reverse;
    }
    section#contact div.contact-left{
        width: 100%;
    }
    section#contact div.contact-right{
        width: 100%;
        height: 90vh;
        background-position: center;
        background-size: 100% 1000px;
    }
    section#contact div.contact-right div.map{
        width: 100%;
        height: 50%;
        top: 50%;
    }
    section#contact div.contact-right div.map iframe{
        width: 100%;
        height: 100%;
    }
}
@media all and (max-width:768px){
    section#gallery div.gallery ul.slider li{
        width: 45%;
    }
    section#gallery div.gallery ul.slider li:nth-child(9){
        margin-right: 0;
    }
    section#contact div.contact-left p.footer{
        text-align: center;
    }
}
@media all and (max-width:640px){
    section#intro div.intro-left header{
        padding: 15%;
    }
    section#intro div.intro-right{
        height: 80vh;
    }
    section#intro div.intro-left header ul.menu-icon{
        width: 15%;
        height: 60px;
    }
    section#intro div.intro-left div.intro-main div.intro-cont div.intro-cont-left{
        max-width: 40%;
    }
    section#intro div.intro-left div.intro-main div.intro-cont div.intro-cont-right{
        width: 57%;
    }
    section#intro div.intro-left div.intro-main{
        padding-left: 5%;
    }
    div.wrapper{
        width: 95%;
    }
    section#intro div.intro-left header ul.menu-bar.active{
        padding-top: 10%;
    }
    section#intro div.intro-left header ul.menu-bar li{
        margin-bottom: 20px;
    }
}
@media all and (max-width:480px){
    section#intro div.intro-left header ul.menu-icon{
        width: 20%;
    }
    section#services div.services-left div.services-left-bottom ul{
        flex-wrap: wrap;
    }
    section#services div.services-left div.services-left-bottom ul li{
        width: 100%;
        margin-bottom: 20px;
    }
    section#intro div.intro-left header ul.menu-bar{
        width: 65%;
    }
    section#intro div.intro-left header ul.menu-bar.active{
        top: 60px;
    }
    div.intro-left header ul.menu-bar.active {
        padding: 10% 5%;
    }
    section#gallery div.gallery ul.slider li{
        height: 170px;
    }
    section#gallery div.gallery ul.slider li div.image:hover{
        transform: translateY(-170px);
    }
}
@media all and (max-width:360px){
    section#intro div.intro-right{
        height: 85vh;
    }
    section#services div.services-left div.services-left-top {
        padding: 20% 0;
    }
    section#contact div.contact-left p.contact{
        max-width: 100%;
    }
}
@media all and (max-width:320px){

}